#three-column .main_right {
    float: right;
    width:580px;
    height: 726px;
}
#three-column .main_left {
    float: left;
    width: 580px;
}
.groove_outline{
    outline: #204969 groove;
}
.center_main_right{
    position: -webkit-sticky;
    position: sticky;
    top:0;
    min-width: 250px;
    min-height: 284px;
    background:white;
    float:right;
    display:inline-block;
    border-width:thin;
    border-style:solid;
    border-color:#204969;
}
.center_main_left{
     min-width: 250px;
     min-height: 284px;
     background:white;
     float:left;
     display:inline-block;
     border-width:thin;
     border-style:solid;
     border-color:#204969;
 }
.center_add_target{
     width: 278px;
     height: 417px;
     background:white;
     border-width:thin;
     border-style:solid;
     border-color:#204969;
     margin-top: 24px;
 }
.center_add_target2{
    width: 278px;
    height: 417px;
    float: right;
    background:white;
    border-width:thin;
    border-style:solid;
    border-color:#204969;
    margin-top: 24px;
}
.center_targets{
    width: 582px;
    display:inline-block;

}
.main_map{
    height:100%;
    width:100%;
}
.image_margin{
    margin-left: 12px ;
    margin-top: 24px ;
}
.form_button
{
    width: 198px;
    display: inline-block;
    margin-top: 12px;
    padding: 1em 2em;
    color: #FFFFFF;
}
.inlineDiv{
    display: inline;
}
.halfButton{
    width: 49.4%;
    height: 10%;
    margin: 0;
    padding: 0;
}
.testButton{
    width: 100%;
    height: 10%;
}
.targetImage{
    padding-top: 16px;
    padding-left: 16px;
}
.imageBor{
    border-width:thin;
    border-style:solid;
    border-color:#204969;
    width:189px;
    height:252px;
}
.data{
    padding-left: 16px;
    float: left;
}
.inll{
    display: inline-block;
}
.data_text{
    text-align:left;
    font-family:Courier New, italic;
    font-size: 20px;
    color: #204969
}