.top_menu_bar{
    width:100%;
    height:50px;
    position:absolute;
    left:0px;
    top:0px;
    background-color:#204969;
    display: inline;
    min-width: 1024px;
}
.spam{
    margin-top:12px;
    border:none;
    color:white;
    cursor:pointer;
    font-size:1.3em;
}
.top_bar_text{
    margin-top: 0px;
    text-align:center;
    font-family:Courier New, italic;
    font-size: 20px;
    color: white;
    display: inline;
}
.map {
    height:350px;
    width:100%;
}
.center_map_block {
    border-radius: 13px;
    position:absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -35%);
    top: 340px;
    background-color:white;
    min-height: 700px;
    min-width: 750px;

}
.center_map_block_top{
    width: 752px;
    height: 50px;
    min-width: 502px;
    background-color:#204969;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.center_border{
    min-height: 700px;
    min-width: 750px;
    background:white;
    display:inline-block;
    float:left;
    border-width:thin;
    border-style:solid;
    border-color:#204969;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}