
<!DOCTYPE html>
<html>
<head>
	<title>
		News		
	</title>
	<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
<body style="background-color:#F2F2F2;">


<div style="width:10px; ">
	<div name = "tom menu bar" style="width:100%;height:50px;position:absolute;left:0px;top:0px;background-color:#204969;">
		<span style="float:left;margin-left:15%;margin-top:12px;border:none;color:white;cursor:pointer;font-size:1.3em;">
				Home			
		</span>
		<span style="float:right;margin-right:15%;margin-top:12px;border:none;color:white;cursor:pointer;font-size:1.3em;">
			Log in
		</span>
	</div>

	<dir style="height:35px;"></dir>


	<div  style="width:10%;position:absolute;left:8%;display:inline-block;height:250px;">
		<div name = "left menu bar" style="position: sticky;">
			<div style="text-align:right;font-size:1em;margin-top:5%;color:#204969;">
				<span style="font-size:1.3em;">
					Tidings
				</span>
			</div>
			<div style="text-align:right;font-size:1em;margin-top:5%;color:#204969;">
				<span style="font-size:1.3em;">
					Curriculum Vitae
				</span>
			</div>
			<div style="text-align:right;font-size:1em;margin-top:5%;color:#204969;">
				<span style="font-size:1.3em;">
					Contact
				</span>
			</div>
		</div>
	</div>

	<dir class="main-container">
		<dir class="fixer-container">

			<div name = "main" style="width:60%;position:absolute;left: 20%;display:inline-block;background-color:white;height:350px;border-radius: 12px;border: 20px;" >
				<div name = "lmain" style="width:33%;height:100%;background:white;display:inline-block;float:left;border-width:medium;border-style:solid;border-color:grey;	border-top-left-radius:5px;border-bottom-left-radius:5px;border-right-width:thin;">
					A
				</div>
				<div name = "rmain" style="width:66.15%;height:100%;background:white;display:inline-block;float:left;border-width:medium;border-style:solid;border-color:grey;border-top-right-radius:5px;border-bottom-right-radius:5px;border-left-width:thin;">
					A
				</div>
			</div>
		</dir>
	</dir>


</div>
</body>
</html>