<!DOCTYPE html>
<html>
<head>
	<title>Create account</title>
	<link rel="stylesheet" type="text/css" href="../../../styles/style.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
</head>
<body style="background-color:#F2F2F2;">

<!-- Top pannel -->
	<div class="top_menu_bar">
		<div >
			<span class="spam" style="float:left;margin-left: 20%">
					<p class="top_bar_text" onclick="openMain()">ServerSideDiplom</p>
			</span>

			<span class="spam" style="float:right; margin-right: 20%">
				<p class="top_bar_text" onclick="openProfile()" >Profile </p>
				<p class="top_bar_text" onclick="openProfile()" >Profile </p>
			</span>
		</div>
	</div>
	<div style="height:90px;"></div>

	<!-- Mid pannel -->
<!-- First Grid-->
<div class="w3-row-padding w3-padding-16 w3-center" style="min-width: 1024px">
	<div class="quarter">
		<img src="../../img/github.png" alt="GitHub" width="250" height="250">
		<h3>GitHub</h3>
		<p>Repository of this project <a href="https://github.com/AYakubovych/Tracer" target="_blank">here</a>.</p>
	</div>
	<div class="quarter">
		<img src="../../img/javaee.png" alt="Java" width="250" height="250">
		<h3>Java</h3>
		<p>This project is written in Java using most popular APIs such as JPA2,JPS,Servlets,ORM etc.</p>
	</div>
	<div class="quarter">
		<img src="../../img/android.png" alt="Android" width="250" height="250">
		<h3>Android</h3>
		<p>This service is paired with a simple application on android. The repository is <a href="https://github.com/AYakubovych/AndroidAppDiplom" target="_blank">here</a>.
			<!-- You can download it here.--></p>
	</div>
	<div class="quarter">
		<img src="../../img/ubuntu.png" alt="Ubuntu" width="250" height="250">
		<h3>Ubuntu Server</h3>
		<p>For this project, a server was built, it works on Ubuntu and is available on the network using the DDNS under the address "ayakubovych.ddns.net".</p>
	</div>
</div>
<!-- Second Grid-->
<div class="w3-row-padding w3-padding-16 w3-center" style="min-width: 1024px">
	<div class="quarter">
		<img src="../../img/spring.png" alt="Spring" width="250" height="250">
		<h3>Spring</h3>
		<p>Cascading framework for this for this project was chosen Springs 5. Also implemented internationalization and validation.</p>
	</div>
	<div class="quarter">
		<img src="../../img/hibernate.png" alt="Hibernate" width="250" height="250">
		<h3>Hibernate</h3>
		<p>For access to data here is used Hibernate.</p>
	</div>
	<div class="quarter">
		<img src="../../img/postgres.jpg" alt="PostgreSQL" width="250" height="250">
		<h3>PostgreSQL</h3>
		<p>PostgreSQL was selected and installed on the server as a database.</p>
	</div>
	<div class="quarter">
		<img src="../../img/tomcat.jpg" alt="Tomcat" width="250" height="250">
		<h3>Tomcat</h3>
		<p>The project is being deployed on Tomcat.</p>
	</div>
</div>


</body>
</html>

<script language="javascript" type="text/javascript">
	function openMain()
	{
		window.open("index.jsp","_self");
	}
	function openProfile()
	{
		window.open("profile.jsp","_self");
	}
	function openLogIn()
	{
		window.open("log_in.jsp","_self");
	}
	function openLogOut()
	{
		window.open("log_out","_self");
	}
	function openCreate()
	{
		window.open("create.jsp","_self");
	}
</script>